* {
  box-sizing: border-box;
}

html,
body,
#content {
  min-height: 100%;
  position: relative;
}

html {
  display: flex;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}
